<!-- START NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="nav-banner">
    <div class="inner">
      <a href="https://shardus.com/live">
        Watch our October community update event on   
        <strong>Nov 8th !!  &rarr;</strong>        
      </a>
    </div>
  </div>
  <div class="container">
    <a
      class="navbar-brand"
      href="{% if page.url != '/index.html' %}/{% endif %}#page-top"
      ><img class="img-fluid" src="/assets/img/logo.svg" alt="Shardus logo"
    /></a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      MENU
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="ml-auto navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% if page.url != '/' %}/{% endif %}#home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.url == '/live/' %}active{% endif %}"
            href="/live/"
            >Event</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% if page.url != '/' %}/{% endif %}#about"
            >Technology</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% if page.url != '/' %}/{% endif %}#features"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% if page.url != '/' %}/{% endif %}#token"
            >Token</a
          >
        </li>
<!--
        <li class="nav-item">
          <a
            class="nav-link"
            href="{% if page.url != '/' %}/{% endif %}#bounties"
            >Bounties</a
          >
        </li>
-->
        <li class="nav-item">
          <a class="nav-link" href="{% if page.url != '/' %}/{% endif %}#faq"
            >FAQ</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% if page.url != '/' %}/{% endif %}#join"
            >Join</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if page.url == '/roadmap/' %}active{% endif %}"
            href="/roadmap/"
            >Roadmap</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/team/' %}active{% endif %}" 
            href="/team/"
            >Team</a
          >
        </li>
        <li class="nav-item">
          <div class="dropdown show">
            <a
              class="btn nav-link nav-dropdown-link dropdown-toggle"
              href=""
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Resources
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a
                class="dropdown-item"
                href="{{ site.data.links.whitepaper }}"
                target="_blank"
                >Whitepaper</a
              >
              <a
                class="dropdown-item"
                href="https://github.com/Shardus/shardus.github.io/wiki"
                target="_blank"
                >Wiki</a
              >
              <a
                class="dropdown-item"
                href="https://docs.shardus.com"
                target="_blank"
                >Developer Docs</a
              >
              <a
                class="dropdown-item"
                href="{{ site.data.links.legalopinion }}"
                target="_blank"
                >Legal Opinion</a
              >
              <a
                class="dropdown-item"
                href="https://shardus.com/license/"
                target="_blank"
                >Licenses</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->
