.navbar{
    padding: 8rem 0;
    padding-top: 0rem;
    margin-bottom: 0rem;
    /*background-image: linear-gradient(rgba(29, 29, 29, 0.95), rgba(29, 29, 29, 0.95)), url(/assets/img/logo.svg)*/
    /*color: #333;*/
    background-color: rgba(34, 34, 34);
    background-size: cover;
    background-position: center;
}

.section-title{
    padding: 0rem 0;
    margin-bottom: 0rem;
    margin-top: 0rm;
    padding-bottom: 3rem;
    padding-top: 0rm;
}
